* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

input[type="checkbox"] {
    display: none;
}
/* Dark Theme */
.dark,
.dark header {
    background-image: linear-gradient(to right, #012E40, #025159, #038C8C, #03A696);
}

.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}


/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    background-color: #F77AAA;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #60BFE5;
}

/* Grid de Produtos */
.container {
    background-color: #EEE;
    min-height: 60vh;
    padding: 50px;
    background-image: url('../imagens/fundo.jpg');

}

.products-container {
    max-width: 1200px;
    margin: 0px auto;
}

.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}
.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url('../imagens/dog01.jpg')
}

#img-2 {
    background-image: url('../imagens/dog02.jpg');
}

#img-3 {
    background-image: url('../imagens/dog03.jpg')
}
#img-4 {
    background-image: url('../imagens/dog04.jpg')
}

#img-5 {
    background-image: url('../imagens/dog05.jpg');
}

#img-6 {
    background-image: url('https://i.pinimg.com/564x/ff/14/60/ff146023ef83b55361b2153edf2cf485.jpg')
}

h3 {
    margin-bottom: 10px;
    color: #C3C3D1;
    border-left: 5px solid #FC4C99;
    padding-left: 7px;
    font-size: 24px;
}

.card p {
    color: antiquewhite;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F77AAA;
    color: #FFF;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    background-color: #FC4C99;
}

/* Footer */
footer {
    background-color: #F77AAA;
    color: #FFF;
    border-top: 3px solid #FFA2C5;
    text-align: center;
    padding: 80px;
}

.autoria {
    font-size: 1.5em;
    font-family: 'Times New Roman';
    color: #0A140A;
}

/* Mobile */
@media (max-width: 480px) {
    main {
        display: grid;
    }

    .card {
        width: auto;
        background-size: cover;
        flex-direction: column;
        overflow: hidden;
    }

    .dark h1 {
        font-size: 2em;
    }

    footer {
        width: 100%;
        height: 30vw;   
    }

    .autoria {
        font-family: 'Times New Roman';
        font-size: 1.5rem;
    }




}